body {
    height: 80vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: large;
    background: #434a72;
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button {
    font-size: inherit;
    padding: 0.5rem;
    margin: 1rem;
    border: none;
    border-radius: 10%;
    color: inherit;
    background-color: #5c6493;
    box-shadow: 0 0 10px;
}

button:hover {
    transition-duration: 0.5s;
    transform: scale(1.1);
    box-shadow: 0 0 15px;
}

td {
    padding: 5px;
}

hr {
    width: 80vw;
    color: #5c6493;
}
